<footer>
  <div class="section group green-accent footer">
    <div class="col span_1_of_12"></div>
    <div class="col span_2_of_12">
      <h4 class="sitemap_heading">Sitemap</h4>
      <a href="{% url 'index' %}" class="sitemap_item">Home</a> <br>
      <a href="#" class="sitemap_item">Blog</a> <br>
      <a href="{% url 'about' %}" class="sitemap_item">About Us</a> <br>
      <a href="#" class="sitemap_item">Prayers</a> <br>
      <a href="#" class="sitemap_item">Contact Us</a> <br>
      <a href="#" class="sitemap_item">Useful Inforation</a> <br>
    </div>
    <div class="col span_5_of_12">
      <p>Google Ads</p>
      <script data-ad-client="ca-pub-2036361940193427" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    </div>
    <div class="col span_3_of_12">
      <p class="footer1">Copyright &copy 2020 HR Data Science</p>
    </div>
    <div class="col span_1_of_12"></div>
  </div>
</footer> 