{% load static %}
<header class="craig">
  <div class="section group logo2">
    <div class="col span_1_of_12">
      <span><button id="toggle" class="toggle">
        <ion-icon name="menu" size="large"></ion-icon>
      </button></span>
      <br>
    </div>
    <div class="col span_10_of_12"></div>  
    <div class="col span_1_of_12">
<!--       <a href="{% url 'index' %}">
        <img src="{% static 'img/gcf_logo.jpg' %}" alt="God COuntry Family Logo" class="logo1" width="75px" />
      <a/> -->
    </div>
  </div> 
