{% extends 'base.html' %}
{% load static %}

{% block description %}Conservative Christen voices can find a home God Country Family . org, a website that aims to bring faith back to our country and way of life.{% endblock %}">
{% block keywords %}conservative christian movement, fight liberalism, fight progressive socialist doctrine {% endblock %}">
{% block title %}About God Country Family {% endblock %} 

{% block og_url %} https://www.godcountryfamily.org/about {% endblock %}
{% block og_type %}Website{% endblock %}
{% block og_title %} About God Country Family {% endblock %}
{% block og_description %}Conservative Christen voices can find a home God Country Family . org, a website that aims to bring faith back to our country and way of life.{% endblock %}
{% block og_image_url %} https://www.godcountryfamily.org/static/img/we_the_people.jpg {% endblock %}

{% block twitter_title %} About God COuntry Family {% endblock %}
{% block twitter_description %}Conservative Christen voices can find a home God Country Family . org, a website that aims to bring faith back to our country and way of life.{% endblock %}
{% block twitter_image %} https://www.godcountryfamily.org/static/img/we_the_people.jpg {% endblock %}

{% block content %}

</header>

<div class="section group blog-image">
	<div class="col span_12_of_12">
		<img src="{% static 'img/we_the_people.jpg' %}" class="blog-image" alt="GCF US Flag Banner" width="100%"
			max-height="15%">
	</div>
</div>

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
        <h1>About God Country Family</h1>
		<h2>We The People</h2>
		<p>God Country Family is our attempt to make a difference in the world. We are a Conservative Christian organization that wants to 
			provide a platform for people of faith to have their voices heard and perhaps bring some of our values to our country and government. 
			For far too long the liberal, socialist left has had total control of the media and education systems. Enough! We need to get past the 
			slight differences in faith and start working together. We must!  </p>
		<p>Some people use the term “Hater” to describe us because we have a set of beliefs and that there is such a thing a right ands wrong. </p>

		<h3>Why is there advertising? </h3>
		<p>To pay the bills. Running a website is not free. We just need to pay the bills. </p> 
    </div>
	<div class="col span_2_of_12">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2036361940193427"
			data-ad-slot="1675170918" data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="col span_1_of_12"></div>
</div> 

{% endblock %}

