{% extends 'base.html' %}
{% load static %}

{% block description %}This will be the ABOUT page description{% endblock %}">
{% block keywords %}This will be the ABOUT page keywords{% endblock %}">
{% block title %}About Us{% endblock %} 

{% block og_url %}  {% endblock %}
{% block og_type %}  {% endblock %}
{% block og_title %}  {% endblock %}
{% block og_description %}  {% endblock %}
{% block og_image_url %}  {% endblock %}

{% block twitter_title %} {% endblock %}
{% block twitter_description %} {% endblock %}
{% block twitter_image %} {% endblock %}

{% block content %}

</header>

<div class="section group blog-image">
	<div class="col span_12_of_12">
		<img src="{% static 'img/US_Flag_Banner.jpg' %}" class="blog-image" alt="Southern Rosary Works Blog Banner" width="100%"
			max-height="15%">
	</div>
</div>

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
        <h1>Contact Us - God Country Family</h1>
		<p>Thank you for visiting God, Country, Family, and we look forward to hearing from you. Please use the form below to send us a message. We will respond appropriately as soon as we can.</p>
    </div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div>

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
		<h2>Contact Form</h2>
		<p>The is where we will put the form</p>
		<form action="{% url 'contactus' %}" method="post">
			{% csrf_token %}
			<p>
				<input type="text" name="name" placeholder="Full Name">
			</p>
			<p>
				<input type="email" name="email" placeholder="Email Address">
			</p>
			message
			<p>
				<textarea name="message" id="name" cols="30" rows="10"></textarea>
			</p>
			<p>
				<button class="btn2" type="submit" >GCF</button>
				<input type="submit" class="btn"  value="Contact GCF">
			</p>
			<button type="submit" >GCF</button>
				<input type="submit" class="btn"  value="Contact GCF">

		</form>
    </div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div>

<!--
<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12"></div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div>
-->

    

{% endblock %}
