{% extends 'base1.html' %}

{% block description %}This will be the HOME page description{% endblock %}">
{% block keywords %}This will be the HOME page keywords{% endblock %}">
{% block title %}Home {% endblock %} 

{% block content %}

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
        <h1>God Country Family</h1>
        <p>This page should have a few sentences on what we are trying to do.</p>
    </div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div>

{% endblock %}

