{% extends 'base1.html' %}

{% block description %}Trying to ensure our conservative voices are heard in this liberal, socialist insanity; Trying to ensure our conservative voices are heard in this liberal, socialist insanity{% endblock %}">
{% block keywords %}conservative Christain website, Catholic, bring people of faith together to affect change{% endblock %}>
{% block title %}Home{% endblock %} 

{% block og_url %}https://www.godcountryfamily.org{% endblock %}
{% block og_type %}Website{% endblock %}
{% block og_title %}God Country Family Home Page{% endblock %}
{% block og_description %}Trying to ensure our conservative voices are heard in this liberal, socialist insanity; Trying to ensure our conservative voices are heard in this liberal, socialist insanity{% endblock %}
{% block og_image_url %}https://www.godcountryfamily.org/media/photos/2020/11/28/srw_blog_home_banner_BnPjzVB.jpg{% endblock %}

{% block twitter_title %} God Country Family Home Page {% endblock %}
{% block twitter_description %} Trying to ensure our conservative voices are heard in this liberal, socialist insanity; Trying to ensure our conservative voices are heard in this liberal, socialist insanity {% endblock %}
{% block twitter_image %} https://www.godcountryfamily.org/media/photos/2020/11/28/srw_blog_home_banner_BnPjzVB.jpg {% endblock %}


{% block content %}

<!-- Homw Page Text Area -->
<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
		<br>
        <h1>God Country Family</h1>
		<p>Welcome to God, Country, Family where want to push a Conservative Christian Agenda in all aspects of government and society. </p>
		<br>
		<p>Trying to ensure our conservative voices are heard in this liberal, socialist insanity</p>
    </div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div>

<!-- Home Page Button Area -->
<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_2_of_12">
		<p><a class="btncdm btn-full" href="{% url 'blog' %}">GCF Blog</a></p>
	</div>
	<div class="col span_2_of_12"></div>
	<div class="col span_2_of_12"></div>
	<div class="col span_2_of_12"></div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div>

{% endblock %}

<a class="btncdm btn-ghost" href="{% url 'blog' %}">GCF Blog</a>