{% extends 'base.html' %}
{% load static %}

{% block description %}Useful links and informaiton for Consevative Christians on this page courtsey of God, Country, Family. Tryong to provide resources to our movement. Open to sugeestions should be submitted through the conatc us page.  {% endblock %}">
{% block keywords %}useful inofrmation for conservative christians, {% endblock %}">
{% block title %}Useful Information - Good Country Family{% endblock %} 

{% block og_url %}https://www.godcountryfamily.org/usefulinfo{% endblock %}
{% block og_type %}Website{% endblock %}
{% block og_title %}Useful Information - Good Country Family{% endblock %}
{% block og_description %}Useful links and informaiton for Consevative Christians on this page courtsey of God, Country, Family. Tryong to provide resources to our movement. Open to sugeestions should be submitted through the conatc us page.{% endblock %}
{% block og_image_url %} https://www.godcountryfamily.org/static/img/capitol_banner.jpg {% endblock %}

{% block twitter_title %}Useful Information - Good Country Family{% endblock %}
{% block twitter_description %}Useful links and informaiton for Consevative Christians on this page courtsey of God, Country, Family. Tryong to provide resources to our movement. Open to sugeestions should be submitted through the conatc us page.{% endblock %}
{% block twitter_image %} https://www.godcountryfamily.org/static/img/capitol_banner.jpg {% endblock %}

{% block content %}

<div class="section group blog-image">
	<div class="col span_12_of_12">
		<img src="{% static 'img/capitol_banner.jpg' %}" class="blog-image" alt="US Capital Building Banner" width="100%"
			max-height="15%">
	</div>
</div>

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
        <h1>Useful Information - God Country Family</h1>
        <p>On this page will be links we think will be helpful with our Conservative Christian movement. Your feedback on the links provided and suggestions for additional
			links would be greatly appreciated and would help to make this page more meaningfull.  </p>
		<p>Please us the <a href="{% url 'contactus' %}">Contact Us</a> page to provide feedback and suggestions for additional links.  </p>
    </div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div> 

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_8_of_12">
		<h2>Social Networks</h2>
		<p>Parler</p>
	</div>
	<div class="col span_2_of_12"></div>
	<div class="col span_1_of_12"></div>
</div> 



{% endblock %}
