{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="God Country Family, Craig D Murray, SPHR">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <title>{% block title %}{% endblock %} God Country Family</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">

<!-- Open Graph Section -->
  <!-- Facebook Open Graph --> 
  <meta property="og:url"                content="{% block og_url %}  {% endblock %}" />
  <meta property="og:type"               content="{% block og_type %}  {% endblock %}" />
  <meta property="og:title"              content="{% block og_title %}  {% endblock %}"/>
  <meta property="og:description"        content="{% block og_description %}  {% endblock %}" />
  <meta property="og:image"              content="{% block og_image_url %}  {% endblock %}" />

  <!-- Twitter Add-on Open Graph --> 
  <meta name="twitter:card"         content="summary">
  <meta name="twitter:creator"      content="@GodCountryUSA" />
  <meta name="twitter:title"        content="{% block twitter_title %} {% endblock %}">
  <meta name="twitter:description"  content="{% block twitter_description %} {% endblock %}">
  <meta name="twitter:image"        content="{% block twitter_image %} {% endblock %}">

</head>
<body>

    <!-- Navbar--> 
  {% include 'partials/_navbar.html' %}

  <!-- Header -->
  {% include 'partials/_header.html' %}
  <!-- Main Content -->
  {% block content %}

  {% endblock %}
 
  <!-- Footer -->
  {% include 'partials/_footer.html' %}

  

  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5a196b5e06d3310011e612b0&product=sticky-share-buttons' async='async'></script>
  <script src="{% static 'js/bundle.js' %}"></script>
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>